<section>
  <div class="font-colored" id="footer">
    <a href="https://www.instagram.com/kamikarsa/"><i class="social-icon fab fa-instagram"></i></a>
    <a href="https://www.tiktok.com/@kamikarsa?lang=en"><i class="social-icon fab fa-tiktok"></i></i></a>
    <a href="https://www.linkedin.com/company/kamikarsa/mycompany/?viewAsMember=true"><i class="social-icon fab fa-linkedin"></i></a>
    <a href="https://www.youtube.com/channel/UCxe2wSyQeryGG9bv9ucBbpg"><i class="social-icon fab fa-youtube"></i></a>
    <p class="copyright">© Copyright 2021 KARSA</p>
  </div>
</section>
