* {
    margin: 0;
    padding: 0;
}

.title-daddy {
    font-family: $titleDaddy;
}

.title {
    font-family: $title;
}

.title-child {
    font-family: $titleChild;
}

.header {
    min-height: 100vh;
    background-image: linear-gradient(rgba(245, 176, 155, 0.7),rgba(95, 29, 9, 0.7)),url("/Images/bali.jpg");
    background-position: center;
    background-size: cover;
    position: relative;

    nav {
        display: flex;
        padding: 5% 8%;
        justify-content: space-between;
        align-items: center;
    }
}

#header {
    width: 100%;
}

.brand {
    display: flex;
    gap: 1.5px;
    color: rgb(255, 255, 255);
    text-decoration: none;

    .logo {
        width: 25px;
        height: 25px;
    }

    h2 {
        font-size: 20px;
    }
}

.nav-links {
    position: absolute;
    background: $mainColor;
    height: 100vh;
    width: 180px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2; 
    padding-left: 10px; 
    display: none;

    ul li {
        list-style: none;
        display: block;
        margin-top: 20px;

        a {
            color: white;
            text-decoration: none;
            font-family: $titleChild;
            font-weight: 400;
            font-size: 17px;
        }
    }
}

.fas {
    display: block;
    color: white;
}

.fa-times {   
    margin-top: 10px;
    cursor: pointer;
}

.fa-bars {
    cursor: pointer;
    font-size: 25px;
}

.text-box {
    display: grid;
    gap: 32px;
    position: absolute;
    color: white;
    width: 100%;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

    h1 {
        font-size: 40px;
    }
}


.text-link {
    display: grid;
    gap: 17px;
    font-family: $titleChild;
    font-size: 15px;;
}

.btn a{
    font-size: 14px;
    display: inline-block;
    color: white;
    text-decoration: none;
    position: relative;
    border: 1px solid $mainColor;
    background: $mainColor;
    cursor: pointer;
    padding: 15px 30px;
    font-weight: 500;
}

.btn a:active{
    color: white;
    background: transparent;
    border: 1px solid white;
    transition: 0.5s;
}